/* You can add global styles to this file, and also import other style files */
/* --- teisei-web Color Palette --- */
.bg-teisei-web-green{
    background-color: #bcffc2;
    }
    .bg-teisei-web-blue{
        background-color: #bce2ff;
    }
    .bg-teisei-web-pink{
        background-color: #ffbcdd;
    }
    .bg-teisei-web-orange{
        background-color: #ffd6bc;
    }
    .bg-teisei-web-purple{
        background-color: #ccaaff;
    }
    